body{
    background-image: url(./bk.jpg);
    margin: 0;
    padding: 0;

}
input{
    width: 550px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    background-color: antiquewhite;
}
.btn{
    border-radius: 15px;
    background-color: antiquewhite;
}

.main{
    border: 2px solid black;
    width: 96%;
    height: 500px;
    border: none;
    /* background-color: burlywood; */
    margin: 20px;
    padding: 40px;
    gap: 20px;
    display: inline;
    display: flex;
}

p{
    border: 2px solid black;
    margin: 3px;
    padding: 15px;
    text-align: center;
    border: none;
    width: 500px;
    height: 100px;
    border-radius: 30%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    
}
img{
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 40%;
    background-color: bisque;
}



*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #232323;
    color:black;
    font-family: Calibri, sans-serif;
}

.center{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    width: 70%;
    font-size: 30px;
    display: block;
    text-align: center;
}

.char{
    font-size: 20px;
    height: 20px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
.mylink{
position: absolute;
z-index: 50;
bottom: 0;
right: 0;
width: 100%;
text-align: right;
padding: .6rem;
}

.mylink a{
font-family: Calibri;
color:black;
border-bottom: 1px solid #131212;
opacity: .5;
transition: opacity .3s;
text-decoration: none
}
.mylink a:hover{
opacity: 1
}

.glitch
  {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./km.jpg);
    background-size: cover;
  }

.glitch:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./km.jpg);
    background-size: cover; /* contain for split effect */
    opacity: .5;
    mix-blend-mode: hard-light;
    animation: glitch2 10s linear infinite;
  }

.glitch:hover:before
{
  animation: glitch1 1s linear infinite;
}

@keyframes glitch1
{
  0%
  {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10%
  {
    background-position: 5px 0;
  }
  20%
  {
    background-position: -5px 0;
  }
  30%
  {
    background-position: 15px 0;
  }
  40%
  {
    background-position: -5px 0;
  }
  50%
  {
    background-position: -25px 0;
  }
  60%
  {
    background-position: -50px 0;
  }
  70%
  {
    background-position: 0 -20px;
  }
  80%
  {
    background-position: -60px -20px;
  }
  81%
  {
    background-position: 0 0;
  }
  100%
  {
    background-position: 0 0;
    filter: hue-rotate(360deg);
  }
}

@keyframes glitch2
{
  0%
  {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10%
  {
    background-position: 15px 0;
  }
  15%
  {
    background-position: -15px 0;
  }
  20%
  {
    filter: hue-rotate(360deg);
  }
  25%
  {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  100%
  {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
}

/* czrd animation  */
.ml7 {
    position: relative;
    top: 150px;
    font-family: 'Times New Roman', Times, serif;
    color: coral;
    font-weight: 900;
    font-size: 3.7em;
  }
  .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
    line-height: 1em;
  }

/* exp card start  */
body {
    width: 100%;
    background-color: #1D1D1D;
    margin: 0;
    font-family: helvetica;
 }
 
 .about {
    $cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
    $transition: 0.6s $cubic;
    $size: 40px;
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    width: $size;
    height: $size;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;
 
    .bg_links {
       width: $size;
       height: $size;
       border-radius: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       background-color: rgba(#fff, 0.2);
       border-radius: 100%;
       backdrop-filter: blur(5px);
       position: absolute;
    }
 
    .logo {
       width: $size;
       height: $size;
       z-index: 9;
       background-image: url(https://rafaelalucas91.github.io/assets/codepen/logo_white.svg);
       background-size: 50%;
       background-repeat: no-repeat;
       background-position: 10px 7px;
       opacity: 0.9;
       transition: all 1s 0.2s ease;
       bottom: 0;
       right: 0;
    }
 
    .social {
       opacity: 0;
       right: 0;
       bottom: 0;
 
       .icon {
          width: 100%;
          height: 100%;
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-color: transparent;
          display: flex;
          transition: all 0.2s ease, background-color 0.4s ease;
          opacity: 0;
          border-radius: 100%;
       }
 
       &.portfolio {
          transition: all 0.8s ease;
 
          .icon {
             background-image: url(https://rafaelalucas91.github.io/assets/codepen/link.svg);
          }
       }
 
       &.dribbble {
          transition: all 0.3s ease;
          .icon {
             background-image: url(https://rafaelalucas91.github.io/assets/codepen/dribbble.svg);
          }
       }
 
       &.linkedin {
          transition: all 0.8s ease;
          .icon {
             background-image: url(https://rafaelalucas91.github.io/assets/codepen/linkedin.svg);
          }
       }
    }
 
    &:hover {
       width: 105px;
       height: 105px;
       transition: all $transition;
 
       .logo {
          opacity: 1;
          transition: all 0.6s ease;
       }
 
       .social {
          opacity: 1;
 
          .icon {
             opacity: 0.9;
          }
 
          &:hover {
             background-size: 28px;
             .icon {
                background-size: 65%;
                opacity: 1;
             }
          }
 
          &.portfolio {
             right: 0;
             bottom: calc(100% - 40px);
             transition: all 0.3s 0s $cubic;
             .icon {
                &:hover {
                   background-color: #698fb7;
                }
             }
          }
 
          &.dribbble {
             bottom: 45%;
             right: 45%;
             transition: all 0.3s 0.15s $cubic;
             .icon {
                &:hover {
                   background-color: #ea4c89;
                }
             }
          }
 
          &.linkedin {
             bottom: 0;
             right: calc(100% - 40px);
             transition: all 0.3s 0.25s $cubic;
             .icon {
                &:hover {
                   background-color: #0077b5;
                }
             }
          }
       }
    }
 }
 
 .wrapper {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
 }
 
 @media screen and (max-width: 767px) {
    .wrapper {
       height: 700px;
    }
 }
 
 .content {
    max-width: 1024px;
    width: 90%;
    padding: 0 4%;
    padding-top: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 @media screen and (max-width: 767px) {
    .content {
       padding-top: 300px;
       flex-direction: column;
    }
 }
 
 .card {
    width: 100%;
    max-width: 350px;
    min-width: 200px;
    height: 250px;
    background-color: #292929;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 2px solid rgba(7, 7, 7, 0.12);
    font-size: 10px;   
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 
 .icon {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    max-width:80px;
    background: linear-gradient(90deg, #FF7E7E 0%, #FF4848 40%, rgba(0, 0, 0, 0.28) 60%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 200px;
 }
 
 .material-icons.md-18 { font-size: 18px; }
 .material-icons.md-24 { font-size: 24px; }
 .material-icons.md-36 { font-size: 36px; }
 .material-icons.md-48 { font-size: 48px; }
 
 .card .title {
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 15px;
    color: white;
    font-weight: 600px;
    text-transform: uppercase;
    letter-spacing: 10px;
 }
 
 .card .text {
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    transition: all 0.3s ease;
 }
 
 .card:hover {
    height: 270px;
 }
 
 .card:hover .info {
    height: 90%;
 }
 
 .card:hover .text {
    transition: all 0.3s ease;
    opacity: 2;
    max-height:70px;
 }
 
 .card:hover .icon {
    background-position: -120px;
    transition: all 0.3s ease;
 }
 
 .card:hover .icon i {
    background: linear-gradient(90deg, #FF7E7E, #FF4848);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: all 0.3s ease;
 }


